In [1]:
import pandas as pd

In [5]:
athletes = pd.read_csv("bgadoci-crossfit-data/athletes.csv")
athletes

,athlete_id,name,region,team,affiliate,gender,age,height,weight,fran,...,deadlift,backsq,pullups,eat,train,background,experience,schedule,howlong,retrieved_datetime
0,2554.0,Pj Ablang,South West,Double Edge,Double Edge CrossFit,Male,24.0,70.0,166.0,NaN,...,400.0,305.0,NaN,NaN,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|I r...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|,NaN
1,3517.0,Derek Abdella,NaN,NaN,NaN,Male,42.0,70.0,190.0,NaN,...,NaN,NaN,NaN,NaN,I have a coach who determines my programming|I...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|,NaN
2,4691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5164.0,Abo Brandon,Southern California,LAX CrossFit,LAX CrossFit,Male,40.0,67.0,NaN,211.0,...,375.0,325.0,25.0,I eat 1-3 full cheat meals per week|,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|,4+ years|,NaN
4,5286.0,Bryce Abbey,NaN,NaN,NaN,Male,32.0,65.0,149.0,206.0,...,NaN,325.0,50.0,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|I inc...,I played college sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|I strictly s...,1-2 years|,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423001,574489.0,Odo Renata,Latin America,Team Guaruj√° Inox,CrossFit Guaruja,Female,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:05
423002,585696.0,Lozzie Trevor,Australia,FBP CrossFit Games Team,FBP CrossFit,Female,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:06
423003,608828.0,Marisol Smith,North West,CrossFit Oak Harbor,CrossFit Oak Harbor,Female,44.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:07
423004,628881.0,Pedrini Morgane,Europe,NaN,CrossFit 67,Female,20.0,64.0,61.0,NaN,...,80.0,143.0,NaN,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|,NaN,I began CrossFit with a coach (e.g. at an affi...,I usually only do 1 workout a day|I strictly s...,6-12 months|,2015-03-25 09:55:07
423005,631847.0,Eden Kenny,Northern California,NaN,Contra Costa CrossFit,Female,26.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:08

In [27]:
#athletes.eat.unique()

Possible values for eat:
* I eat quality foods but don't measure the amount
* I eat strict Paleo
* I eat 1-3 full cheat meals per week
* I eat whatever is convenient
* I weigh and measure my food

In [28]:
#athletes.train.unique()

Possible values for train:
* I workout mostly at a CrossFit Affiliate
* I have a coach who determines my programming
* I record my workouts
* I incorporate CrossFit.com workouts
* I write my own programming
* I workout mostly at home, work, or a traditional gym

In [29]:
#athletes.background.unique()

Possible values for background:
* I played youth or high school level sports
* I regularly play recreational sports
* I played college sports
* I have no athletic background besides CrossFit
* I played professional sports

In [30]:
#athletes.experience.unique()

Possible values for experience: 
* I began CrossFit with a coach (e.g. at an affiliate)
* I have attended one or more specialty courses
* I have had a life changing experience due to CrossFit
* I began CrossFit by trying it alone (without a coach)
* I have completed the CrossFit Level 1 certificate course
* I train other people

In [31]:
#athletes.schedule.unique()

Possible values for schedule:
* I do multiple workouts in a day 2x a week
* I usually only do 1 workout a day
* I strictly schedule my rest days
* I typically rest 4 or more days per month
* I do multiple workouts in a day 3+ times a week
* I typically rest fewer than 4 days per month
* I do multiple workouts in a day 1x a week

In [32]:
#athletes.howlong.unique()

In [35]:
athletes.age.describe()

count    331110.000000
mean         32.516750
std           7.730671
min          13.000000
25%          27.000000
50%          31.000000
75%          37.000000
max         125.000000
Name: age, dtype: float64

In [36]:
athletes.height.describe()

count    1.598690e+05
mean     1.206217e+02
std      2.097995e+04
min      0.000000e+00
25%      6.600000e+01
50%      6.900000e+01
75%      7.200000e+01
max      8.388607e+06
Name: height, dtype: float64

In [37]:
athletes.weight.describe()

count    229890.000000
mean        170.896137
std          58.379799
min           1.000000
25%         145.000000
50%         170.000000
75%         192.000000
max       20175.000000
Name: weight, dtype: float64

In [38]:
 athletes.fran.describe()

count    5.542600e+04
mean     9.886691e+02
std      7.200430e+04
min      1.000000e+00
25%      2.150000e+02
50%      2.900000e+02
75%      3.920000e+02
max      8.388607e+06
Name: fran, dtype: float64

In [39]:
 athletes.helen.describe()

count    3.027900e+04
mean     1.207950e+03
std      6.824091e+04
min      1.000000e+00
25%      5.250000e+02
50%      5.950000e+02
75%      6.940000e+02
max      8.388607e+06
Name: helen, dtype: float64

In [40]:
 athletes.grace.describe()

count    4.074500e+04
mean     5.766025e+02
std      4.891145e+04
min     -6.000000e+01
25%      1.490000e+02
50%      1.930000e+02
75%      2.620000e+02
max      8.388607e+06
Name: grace, dtype: float64

In [41]:
 athletes.filthy50.describe()

count    1.935900e+04
mean     2.127863e+03
std      6.055021e+04
min      1.000000e+00
25%      1.308000e+03
50%      1.550000e+03
75%      1.809000e+03
max      8.388607e+06
Name: filthy50, dtype: float64

In [42]:
 athletes.fgonebad.describe()

count    2.973800e+04
mean     1.472252e+03
std      9.762688e+04
min      0.000000e+00
25%      2.400000e+02
50%      2.940000e+02
75%      3.360000e+02
max      8.388607e+06
Name: fgonebad, dtype: float64

In [43]:
 athletes.run400.describe()

count    2.224600e+04
mean     5.241279e+02
std      5.628804e+04
min      1.000000e+00
25%      6.200000e+01
50%      7.100000e+01
75%      8.400000e+01
max      8.388607e+06
Name: run400, dtype: float64

In [44]:
 athletes.run5k.describe()

count    3.609700e+04
mean     3.411464e+03
std      1.251980e+05
min      1.000000e+00
25%      1.242000e+03
50%      1.380000e+03
75%      1.560000e+03
max      8.388607e+06
Name: run5k, dtype: float64

In [45]:
 athletes.candj.describe()

count    1.044350e+05
mean     2.709107e+02
std      2.596882e+04
min     -4.500000e+01
25%      1.400000e+02
50%      1.950000e+02
75%      2.350000e+02
max      8.388607e+06
Name: candj, dtype: float64

In [46]:
 athletes.snatch.describe()

count    9.728000e+04
mean     2.424957e+02
std      2.708942e+04
min      0.000000e+00
25%      1.050000e+02
50%      1.450000e+02
75%      1.850000e+02
max      8.388607e+06
Name: snatch, dtype: float64

In [47]:
 athletes.deadlift.describe()

count    1.153230e+05
mean     6.970503e+02
std      5.523235e+04
min     -5.000000e+02
25%      2.550000e+02
50%      3.450000e+02
75%      4.150000e+02
max      8.388607e+06
Name: deadlift, dtype: float64

In [48]:
 athletes.backsq.describe()

count    1.105170e+05
mean     5.852109e+02
std      5.052976e+04
min     -7.000000e+00
25%      2.050000e+02
50%      2.750000e+02
75%      3.350000e+02
max      8.388607e+06
Name: backsq, dtype: float64

In [49]:
 athletes.pullups.describe()

count    5.060800e+04
mean     4.269613e+04
std      9.546078e+06
min     -6.000000e+00
25%      1.500000e+01
50%      2.700000e+01
75%      3.900000e+01
max      2.147484e+09
Name: pullups, dtype: float64

In [50]:
athletes[athletes.pullups < 0]

,athlete_id,name,region,team,affiliate,gender,age,height,weight,fran,...,deadlift,backsq,pullups,eat,train,background,experience,schedule,howlong,retrieved_datetime
5828,23475.0,Ryan Cavada,Southern California,CrossFit RXD,CrossFit Rx'd Placentia,Male,28.0,65.0,155.0,NaN,...,405.0,365.0,-5.0,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|,I played youth or high school level sports|,I began CrossFit by trying it alone (without a...,I do multiple workouts in a day 2x a week|I ty...,2-4 years|,NaN
10571,60649.0,Chris Ester,NaN,NaN,NaN,Male,28.0,68.0,167.0,5999.0,...,3.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10873,56175.0,Jose M Favela,North Central,CrossFit Carbon,CrossFit Carbon,Male,40.0,70.0,175.0,NaN,...,100.0,50.0,-5.0,I eat whatever is convenient|,I workout mostly at a CrossFit Affiliate|I rec...,I played youth or high school level sports|I r...,I began CrossFit with a coach (e.g. at an affi...,I usually only do 1 workout a day|I typically ...,2-4 years|,NaN
15285,70549.0,Nathan Heckenberg,Asia,Bengkel Ksatria Sakti,Bengkel CrossFit,Male,32.0,NaN,NaN,NaN,...,309.0,298.0,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15531,26233.0,Victor Herbilla,NaN,NaN,NaN,Male,30.0,67.0,190.0,192.0,...,465.0,405.0,-5.0,I eat quality foods but don't measure the amou...,I workout mostly at a CrossFit Affiliate|I inc...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 3+ times a wee...,2-4 years|,NaN
22620,12220.0,Daniel Martin,South East,CrossFit 305,CrossFit 305,Male,39.0,12.0,1000.0,109.0,...,7.0,10.0,-1.0,NaN,NaN,NaN,I began CrossFit by trying it alone (without a...,I do multiple workouts in a day 3+ times a wee...,NaN,NaN
50486,129206.0,Whitney Kriengkrairut,Central East,HyperFit USA CrossFit Ann Arbor,CrossFit Ann Arbor,Male,31.0,72.0,172.0,405.0,...,310.0,65.0,-1.0,I eat strict Paleo|I eat 1-3 full cheat meals ...,I workout mostly at a CrossFit Affiliate|,I played youth or high school level sports|,NaN,I usually only do 1 workout a day|,2-4 years|,2015-03-02 13:03:46
67566,326421.0,Cl√©ment Adam,Europe,Team CrossFit Galil√©√î,CrossFit Galileo,Male,24.0,74.0,169.0,NaN,...,NaN,NaN,-1.0,NaN,NaN,I regularly play recreational sports|,NaN,NaN,Less than 6 months|,2015-03-02 18:47:15
101492,113878.0,Cameron Collier,South Central,Woodward CrossFit,Woodward CrossFit,Male,30.0,70.0,180.0,287.0,...,405.0,308.0,-3.0,NaN,I workout mostly at a CrossFit Affiliate|,I have no athletic background besides CrossFit|,NaN,I usually only do 1 workout a day|I typically ...,2-4 years|,2015-03-03 03:53:51
104895,79001.0,Joe Sanchez,South Central,Reloaded,Unaffiliated,Male,29.0,60.0,190.0,5940.0,...,405.0,305.0,-1.0,I eat 1-3 full cheat meals per week|,I write my own programming|,I played professional sports|,I began CrossFit with a coach (e.g. at an affi...,I typically rest 4 or more days per month|,1-2 years|,2015-03-03 04:25:50
112747,102820.0,Logan Price,Central East,Four Barrel Crossfit,Four Barrel CrossFit,Male,19.0,65.0,150.0,NaN,...,-11.0,287.0,-1.0,I eat quality foods but don't measure the amou...,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I usually only do 1 workout a day|,2-4 years|,2015-03-03 21:28:58
120104,273374.0,David Coffey,Mid Atlantic,NaN,CrossFit 2311,Male,26.0,96.0,185.0,3380.0,...,25.0,34.0,-3.0,NaN,I workout mostly at a CrossFit Affiliate|,NaN,I have completed the CrossFit Level 1 certific...,I do multiple workouts in a day 3+ times a wee...,6-12 months|,2015-03-03 23:25:09
138845,353753.0,Nick Honomichl,North West,NaN,Jet City CrossFit,Male,36.0,NaN,NaN,1534.0,...,163.0,132.0,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-04 08:56:06
141832,99573.0,Nicholas Morris,Central East,CrossFit Hard Knox,CrossFit Hard Knox,Male,33.0,66.0,152.0,4220.0,...,1.0,9.0,-1.0,I eat strict Paleo|,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|I p...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 3+ times a wee...,Less than 6 months|4+ years|,2015-03-04 09:21:42
302562,71448.0,CHAD SAN GIL,NaN,NaN,NaN,Male,35.0,NaN,800.0,1156.0,...,9.0,6.0,-1.0,I eat whatever is convenient|,I workout mostly at a CrossFit Affiliate|,I have no athletic background besides CrossFit|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|,1-2 years|,2015-03-05 18:37:16
370785,149824.0,Nicholas Lindesmith,NaN,NaN,NaN,Male,31.0,72.0,205.0,334.0,...,405.0,365.0,-6.0,I eat quality foods but don't measure the amou...,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I typically rest 4 or more days per month|,6-12 months|,2015-03-06 09:36:31
375425,34192.0,Gil Petruska,NaN,NaN,NaN,Male,47.0,75.0,207.0,NaN,...,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-06 10:19:11

In [8]:
leaderboard = pd.read_csv("bgadoci-crossfit-data/leaderboard.15.csv")
leaderboard

,year,division,stage,athlete_id,rank,score,retrieved_datetime,scaled
0,15,1,5.0,1690.0,154.0,366.0,2015-03-31 21:44:44,0
1,15,1,5.0,1998.0,5950.0,497.0,2015-03-31 21:44:44,0
2,15,1,5.0,2206.0,768.0,404.0,2015-03-31 21:44:44,0
3,15,1,5.0,2559.0,294.0,379.0,2015-03-31 21:44:44,0
4,15,1,5.0,2811.0,1946.0,437.0,2015-03-31 21:44:44,0
...,...,...,...,...,...,...,...,...
1572217,15,2,4.0,605695.0,NaN,NaN,2015-04-01 01:11:51,0
1572218,15,2,4.0,614999.0,NaN,NaN,2015-04-01 01:11:51,0
1572219,15,2,4.0,615146.0,NaN,NaN,2015-04-01 01:11:51,0
1572220,15,2,4.0,619093.0,NaN,NaN,2015-04-01 01:11:51,0
1572221,15,2,4.0,632740.0,NaN,NaN,2015-04-01 01:11:51,0

In [17]:
leaderboard["rank"].max()

136532.0

In [18]:
leaderboard[leaderboard["rank"]==136532]

,year,division,stage,athlete_id,rank,score,retrieved_datetime,scaled
648269,15,1,1.1,622650.0,136532.0,1.0,2015-03-31 23:37:48,0
657348,15,1,1.1,583497.0,136532.0,1.0,2015-03-31 23:38:34,1
660485,15,1,1.1,285649.0,136532.0,1.0,2015-03-31 23:38:51,1
660574,15,1,1.1,2095.0,136532.0,1.0,2015-03-31 23:38:51,1
660593,15,1,1.1,141157.0,136532.0,1.0,2015-03-31 23:38:51,0
660603,15,1,1.1,201960.0,136532.0,1.0,2015-03-31 23:38:51,1
660617,15,1,1.1,270047.0,136532.0,1.0,2015-03-31 23:38:51,1
660618,15,1,1.1,279541.0,136532.0,1.0,2015-03-31 23:38:51,1
660631,15,1,1.1,369119.0,136532.0,1.0,2015-03-31 23:38:51,1
660641,15,1,1.1,466518.0,136532.0,1.0,2015-03-31 23:38:51,1
660656,15,1,1.1,538292.0,136532.0,1.0,2015-03-31 23:38:51,1
660659,15,1,1.1,544689.0,136532.0,1.0,2015-03-31 23:38:51,1
660662,15,1,1.1,554790.0,136532.0,1.0,2015-03-31 23:38:51,1