In [1]:
import pandas as pd

In [2]:
athletes = pd.read_csv("bgadoci-crossfit-data/athletes.csv")
athletes

/Users/bradenwellman/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,athlete_id,name,region,team,affiliate,gender,age,height,weight,fran,...,deadlift,backsq,pullups,eat,train,background,experience,schedule,howlong,retrieved_datetime
0,2554.0,Pj Ablang,South West,Double Edge,Double Edge CrossFit,Male,24.0,70.0,166.0,NaN,...,400.0,305.0,NaN,NaN,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|I r...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|,NaN
1,3517.0,Derek Abdella,NaN,NaN,NaN,Male,42.0,70.0,190.0,NaN,...,NaN,NaN,NaN,NaN,I have a coach who determines my programming|I...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|,NaN
2,4691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5164.0,Abo Brandon,Southern California,LAX CrossFit,LAX CrossFit,Male,40.0,67.0,NaN,211.0,...,375.0,325.0,25.0,I eat 1-3 full cheat meals per week|,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|,4+ years|,NaN
4,5286.0,Bryce Abbey,NaN,NaN,NaN,Male,32.0,65.0,149.0,206.0,...,NaN,325.0,50.0,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|I inc...,I played college sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|I strictly s...,1-2 years|,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423001,574489.0,Odo Renata,Latin America,Team Guaruj√° Inox,CrossFit Guaruja,Female,36.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:05
423002,585696.0,Lozzie Trevor,Australia,FBP CrossFit Games Team,FBP CrossFit,Female,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:06
423003,608828.0,Marisol Smith,North West,CrossFit Oak Harbor,CrossFit Oak Harbor,Female,44.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:07
423004,628881.0,Pedrini Morgane,Europe,NaN,CrossFit 67,Female,20.0,64.0,61.0,NaN,...,80.0,143.0,NaN,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|,NaN,I began CrossFit with a coach (e.g. at an affi...,I usually only do 1 workout a day|I strictly s...,6-12 months|,2015-03-25 09:55:07
423005,631847.0,Eden Kenny,Northern California,NaN,Contra Costa CrossFit,Female,26.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-03-25 09:55:08

In [3]:
#athletes.eat.unique()

Possible values for eat:
* I eat quality foods but don't measure the amount
* I eat strict Paleo
* I eat 1-3 full cheat meals per week
* I eat whatever is convenient
* I weigh and measure my food

In [4]:
#athletes.train.unique()

Possible values for train:
* I workout mostly at a CrossFit Affiliate
* I have a coach who determines my programming
* I record my workouts
* I incorporate CrossFit.com workouts
* I write my own programming
* I workout mostly at home, work, or a traditional gym

In [5]:
#athletes.background.unique()

Possible values for background:
* I played youth or high school level sports
* I regularly play recreational sports
* I played college sports
* I have no athletic background besides CrossFit
* I played professional sports

In [6]:
#athletes.experience.unique()

Possible values for experience: 
* I began CrossFit with a coach (e.g. at an affiliate)
* I have attended one or more specialty courses
* I have had a life changing experience due to CrossFit
* I began CrossFit by trying it alone (without a coach)
* I have completed the CrossFit Level 1 certificate course
* I train other people

In [7]:
#athletes.schedule.unique()

Possible values for schedule:
* I do multiple workouts in a day 2x a week
* I usually only do 1 workout a day
* I strictly schedule my rest days
* I typically rest 4 or more days per month
* I do multiple workouts in a day 3+ times a week
* I typically rest fewer than 4 days per month
* I do multiple workouts in a day 1x a week

In [8]:
#athletes.howlong.unique()

In [4]:
athletes_age = athletes.age.describe().to_frame()

                 age
count  331110.000000
mean       32.516750
std         7.730671
min        13.000000
25%        27.000000
50%        31.000000
75%        37.000000
max       125.000000

In [10]:
athletes_height = athletes.height.describe().to_frame()

In [11]:
 athletes_weight = athletes.weight.describe().to_frame()

In [12]:
 athletes_fran = athletes.fran.describe().to_frame()

In [13]:
 athletes_helen =  athletes.helen.describe().to_frame()

In [14]:
 athletes_grace = athletes.grace.describe().to_frame()

In [15]:
  athletes_filthy50 = athletes.filthy50.describe().to_frame()

In [16]:
  athletes_fgonebad = athletes.fgonebad.describe().to_frame()

In [17]:
  athletes_run400 = athletes.run400.describe().to_frame()

In [18]:
  athletes_run5k = athletes.run5k.describe().to_frame()

In [19]:
  athletes_candj = athletes.candj.describe().to_frame()

In [20]:
  athletes_snatch = athletes.snatch.describe().to_frame()

In [21]:
 athletes_deadlift = athletes.deadlift.describe().to_frame()

In [22]:
  athletes_backsq = athletes.backsq.describe().to_frame()

In [23]:
 athletes_pullups = athletes.pullups.describe().to_frame()

In [35]:
final_df = pd.concat([athletes_pullups, athletes_backsq, athletes_deadlift, athletes_snatch, athletes_candj, athletes_run5k, athletes_run400, athletes_fgonebad, athletes_filthy50, athletes_grace, athletes_helen, athletes_fran, athletes_weight, athletes_height, athletes_age], axis=1)
t_final_df = final_df.transpose()
#t_final_df.to_excel(r'summary_of_variables.xlsx') already exported and should be on github if needed

In [40]:
leaderboard = pd.read_csv("bgadoci-crossfit-data/leaderboard.15.csv")
leaderboard

,year,division,stage,athlete_id,rank,score,retrieved_datetime,scaled
0,15,1,5.0,1690.0,154.0,366.0,2015-03-31 21:44:44,0
1,15,1,5.0,1998.0,5950.0,497.0,2015-03-31 21:44:44,0
2,15,1,5.0,2206.0,768.0,404.0,2015-03-31 21:44:44,0
3,15,1,5.0,2559.0,294.0,379.0,2015-03-31 21:44:44,0
4,15,1,5.0,2811.0,1946.0,437.0,2015-03-31 21:44:44,0
...,...,...,...,...,...,...,...,...
1572217,15,2,4.0,605695.0,NaN,NaN,2015-04-01 01:11:51,0
1572218,15,2,4.0,614999.0,NaN,NaN,2015-04-01 01:11:51,0
1572219,15,2,4.0,615146.0,NaN,NaN,2015-04-01 01:11:51,0
1572220,15,2,4.0,619093.0,NaN,NaN,2015-04-01 01:11:51,0
1572221,15,2,4.0,632740.0,NaN,NaN,2015-04-01 01:11:51,0

In [43]:
leaderboard["rank"].describe()

count    1.165028e+06
mean     5.116429e+04
std      3.269442e+04
min      1.000000e+00
25%      2.405750e+04
50%      4.801400e+04
75%      7.424400e+04
max      1.365320e+05
Name: rank, dtype: float64

In [41]:
leaderboard.rank

<bound method NDFrame.rank of          year  division  stage  athlete_id    rank  score  \
0          15         1    5.0      1690.0   154.0  366.0
1          15         1    5.0      1998.0  5950.0  497.0
2          15         1    5.0      2206.0   768.0  404.0
3          15         1    5.0      2559.0   294.0  379.0
4          15         1    5.0      2811.0  1946.0  437.0
...       ...       ...    ...         ...     ...    ...
1572217    15         2    4.0    605695.0     NaN    NaN
1572218    15         2    4.0    614999.0     NaN    NaN
1572219    15         2    4.0    615146.0     NaN    NaN
1572220    15         2    4.0    619093.0     NaN    NaN
1572221    15         2    4.0    632740.0     NaN    NaN

          retrieved_datetime  scaled
0        2015-03-31 21:44:44       0
1        2015-03-31 21:44:44       0
2        2015-03-31 21:44:44       0
3        2015-03-31 21:44:44       0
4        2015-03-31 21:44:44       0
...                      ...     ...
1572217  2015-04-01 01:11:51       0
1572218  2015-04-01 01:11:51       0
1572219  2015-04-01 01:11:51       0
1572220  2015-04-01 01:11:51       0
1572221  2015-04-01 01:11:51       0

[1572222 rows x 8 columns]>

In [9]:
# Subsetting the dataset to check
thisdf = athletes['train'].head(n = 20).dropna()
  
# returns first occurrence of Substring
result = thisdf.find('I workout mostly at a CrossFit Affiliate')
print ("Substring 'geeks' found at index:", result )

AttributeError: 'Series' object has no attribute 'find'

In [7]:
thisdf = athletes['train'].head(n = 20).dropna()
thisdf

0     I workout mostly at a CrossFit Affiliate|I hav...
1     I have a coach who determines my programming|I...
3     I workout mostly at a CrossFit Affiliate|I hav...
4     I workout mostly at a CrossFit Affiliate|I inc...
5     I workout mostly at a CrossFit Affiliate|I rec...
6     I workout mostly at a CrossFit Affiliate|I hav...
9     I workout mostly at a CrossFit Affiliate|I rec...
12    I workout mostly at a CrossFit Affiliate|I wri...
13            I workout mostly at a CrossFit Affiliate|
15    I workout mostly at a CrossFit Affiliate|I inc...
16            I workout mostly at a CrossFit Affiliate|
17            I workout mostly at a CrossFit Affiliate|
Name: train, dtype: object